# Exercise 1

Fill the table showing the values of the variables in this program after each statement is executed.

 Command   Value of x   Value of y   Value of swap 
x = 1.0    #              #              #          
y = 3.0    #              #              #               
swap = x   #              #              #               
x = y      #              #              #               
y = swap   #              #              #

Solution


# Command  # Value of x   # Value of y   # Value of swap #
x = 1.0    # 1.0          # not defined  # not defined   #
y = 3.0    # 1.0          # 3.0          # not defined   #
swap = x   # 1.0          # 3.0          # 1.0           #
x = y      # 3.0          # 3.0          # 1.0           #
y = swap   # 3.0          # 1.0          # 1.0           #

These three lines exchange the values in x and y using the swap variable for temporary storage. This is a fairly common programming idiom.

# Exercise 2

What is the final value of position in the program below? (Try to predict the value without running the program, then check your prediction.)

`initial = 'left'` <br>
`position = initial` <br>
`initial = 'right'`

Solution:

`left`

The initial variable is assigned the value 'left'. In the second line, the position variable also receives the string value 'left'. In third line, the initial variable is given the value 'right', but the position variable retains its string value of 'left'.

# Exercise 3

If you assign `a = 123`, what happens if you try to get the second digit of `a` via `a[1]`?

Solution:

TypeError: 'int' object is not subscriptable

Numbers are not strings or sequences and Python will raise an error if you try to perform an index operation on a number. In the next lesson on types and type conversion we will learn more about types and how to convert between different types. If you want the Nth digit of a number you can convert it into a string using the str built-in function and then perform an index operation on that string.

# Exercise 4

Which is a better variable name, m, min, or minutes? Why? Hint: think about which code you would rather inherit from someone who is leaving the lab:

    ts = m * 60 + s
    tot_sec = min * 60 + sec
    total_seconds = minutes * 60 + seconds

Solution:

minutes is better because min might mean something like “minimum” (and actually is an existing built-in function in Python that we will cover later).

# Exercise 5
Given the following string:

`species_name = "Acacia buxifolia"`

What would these expressions return?

1. `species_name[2:8]`  
1. `species_name[11:]` (without a value after the colon)
1. `species_name[:4]` (without a value before the colon)
1. `species_name[:]` (just a colon)  
1. `species_name[11:-3]`  
1. `species_name[-5:-3]`  
1. What happens when you choose a stop value which is out of range? (i.e., try `species_name[0:20]` or `species_name[:103]` )

Solution:


1. species_name[2:8] returns the substring 'acia b'
1. species_name[11:] returns the substring 'folia', from position 11 until the end
1. species_name[:4] returns the substring 'Acac', from the start up to but not including position 4
1. species_name[:] returns the entire string 'Acacia buxifolia'
1. species_name[11:-3] returns the substring 'fo', from the 11th position to the third last position
1. species_name[-5:-3] also returns the substring 'fo', from the fifth last position to the third last
1. If a part of the slice is out of range, the operation does not fail. species_name[0:20] gives the same result as species_name[0:], and species_name[:103] gives the same result as species_name[:]